* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://www.zachariahcrowell.com/images/Kirbyheader.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playball', cursive;
    
}

h1 {text-align: center;
    font-size: 100px;
    padding-top: 10vh;
    color: #d0bca2;}

.sidenav { height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            opacity: .9;}

.sidenav a { padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 35px;
            color: #9e80f2;
            display: block;
            transition: 0.3s;}

.sidenav a:hover { color: #f1f1f1;}

.sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
}

.maincontent { background-color: black;
                width: 100%;
                height: 500px;
                margin-top: 35vh}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px;}
    .sidenav a { font-size: 18px;}
}
