* {
    padding: 0;
    margin: 0;
}

body {
    /*background-image: url("https://www.zachariahcrowell.com/images/Kirbyheader.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    background-size: cover;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 300px;

    background-size: cover;*/

    background: linear-gradient(black, #500050, black);
    font-family: 'Playball', cursive;
    height: 2000px;
    

    background-color: black;
    font-family: 'PT Sans Narrow', sans-serif;

    

}

.fa { color: white;
        font-size: 40px;
        padding: 8px 8px 8px 32px;}

.fa:hover { color: #7c00ad;}

.fab, .fas { color: white;
            font-size: 40px;
            padding: 5px;}

.fas:hover, .fab:hover { opacity: .5;}

.social { display: inline;
            float: right;
            align-items: baseline;
            margin-top: 5px;
            margin-right: 2.5px;}

.kirbyheader { width: 100%;}


.sidenav { height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            opacity: .9;}

.sidenav a { padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 35px;
            color: #f1f1f1;
            display: block;
            transition: 0.3s;}

.sidenav a:hover { color: #7c00ad;}

.sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
}


@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px;}
    .sidenav a { font-size: 18px;}
}

@media screen and (max-width: 550px) {
    .sidenav a { font-size: 30px;}
}

@media screen and (max-width: 550px) {
    .fab, .fas { font-size: 30px;}
}